In [6]:
import pandas as pd

train_data = pd.read_csv('train.csv')

In [7]:
# Preprocess the data

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         750000 non-null  int64
 1   age        750000 non-null  int64
 2   job        750000 non-null  object
 3   marital    750000 non-null  object
 4   education  750000 non-null  object
 5   default    750000 non-null  object
 6   balance    750000 non-null  int64
 7   housing    750000 non-null  object
 8   loan       750000 non-null  object
 9   contact    750000 non-null  object
 10  day        750000 non-null  int64
 11  month      750000 non-null  object
 12  duration   750000 non-null  int64
 13  campaign   750000 non-null  int64
 14  pdays      750000 non-null  int64
 15  previous   750000 non-null  int64
 16  poutcome   750000 non-null  object
 17  y          750000 non-null  int64
dtypes: int64(9), object(9)
memory usage: 103.0+ MB

In [9]:
train_data.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [10]:
# id is useless, drop it
train_data = train_data.drop(columns=['id'])

In [ ]:
# categorical data

In [11]:
# marital 
# one-hot encoding
train_data['marital'].value_counts()

train_data_categorical = pd.get_dummies(train_data, columns=['marital'], prefix='marital', drop_first=False)

married     480759
single      194834
divorced     74407
Name: marital, dtype: int64

In [13]:
# Check new columns
print(train_data_categorical.filter(like='marital_').head())

   marital_divorced  marital_married  marital_single
0                 0                1               0
1                 0                1               0
2                 0                1               0
3                 0                0               1
4                 0                1               0

In [17]:
# default
# one-hot encoding
print(train_data_categorical['default'].value_counts())
train_data_categorical = pd.get_dummies(train_data, columns=['default'], prefix='default', drop_first=False)

no     737151
yes     12849
Name: default, dtype: int64

In [18]:
print(train_data_categorical.filter(like='default_').head())

   default_no  default_yes
0           1            0
1           1            0
2           1            0
3           1            0
4           1            0

In [23]:
# default
# one-hot encoding
print(train_data_categorical['loan'].value_counts())
train_data_categorical = pd.get_dummies(train_data, columns=['loan'], prefix='loan', drop_first=False)

no     645023
yes    104977
Name: loan, dtype: int64

In [24]:
print(train_data_categorical.filter(like='loan_').head())

   loan_no  loan_yes
0        1         0
1        1         0
2        1         0
3        1         0
4        1         0

In [20]:
# housing
# one-hot encoding
print(train_data_categorical['housing'].value_counts())
train_data_categorical = pd.get_dummies(train_data, columns=['housing'], prefix='housing', drop_first=False)

yes    411288
no     338712
Name: housing, dtype: int64

In [21]:
print(train_data_categorical.filter(like='housing_').head())

   housing_no  housing_yes
0           1            0
1           1            0
2           0            1
3           0            1
4           0            1

In [26]:
# contact
# one-hot encoding
print(train_data_categorical['contact'].value_counts())
train_data_categorical = pd.get_dummies(train_data, columns=['contact'], prefix='contact', drop_first=False)

cellular     486655
unknown      231627
telephone     31718
Name: contact, dtype: int64

In [27]:
print(train_data_categorical.filter(like='contact_').head())

   contact_cellular  contact_telephone  contact_unknown
0                 1                  0                0
1                 0                  0                1
2                 0                  0                1
3                 0                  0                1
4                 1                  0                0

In [28]:
# contact
# one-hot encoding
# highly unbalanced
print(train_data_categorical['poutcome'].value_counts())
train_data_categorical = pd.get_dummies(train_data, columns=['poutcome'], prefix='poutcome', drop_first=False)

unknown    672450
failure     45115
success     17691
other       14744
Name: poutcome, dtype: int64

In [ ]:
# job has 12 different types and imbalanced data use target-encoding or beta target encoding?

In [7]:
train_data['job'].nunique()

12

In [8]:
train_data['job'].unique()

array(['technician', 'blue-collar', 'student', 'admin.', 'management',
       'entrepreneur', 'self-employed', 'unknown', 'services', 'retired',
       'housemaid', 'unemployed'], dtype=object)

In [9]:
train_data['job'].value_counts()

management       175541
blue-collar      170498
technician       138107
admin.            81492
services          64209
retired           35185
self-employed     19020
entrepreneur      17718
unemployed        17634
housemaid         15912
student           11767
unknown            2917
Name: job, dtype: int64

In [ ]:
# numerical data

In [ ]:
# divide age into different categories?